QWidget {
    color:rgb(230, 230, 230);
    background-color: rgb(54, 57, 63);
}



QPushButton {
    font-size: 13px;
    font-weight: 500;
    padding-left : 5px;
    padding-right : 10px;
    text-align: left;
    background-color: rgb(70, 73, 79);
    color:rgb(210, 210, 210);
}

QComboBox{
    background-color: rgb(54, 57, 63);
}

QLineEdit{
    background-color: rgb(70, 73, 79);
}
